  body{
                font:15px/1.5 Arial,Helvetica, sans-serif;
                padding: 0;
                margin: 0;
                background-color: #f4f4f4;
            }   
            .container{
                width: 80%;
                margin:auto;
                overflow: hidden;
            }
            ul{
                margin: 0;
                padding: 0;
            }
       
            header{
                background-color: rgba(255, 255, 255, 0.7);
                color: #ffffff;
                padding-top: 30px;
                min-height: 50px;
                border-bottom: #32a0c2 3px solid;
                margin-bottom: .3em;
                padding: 0px 25px 10px 0;
                z-index: 100;
                opacity: 0.90;
                -moz-border-radius: 0px;
                -webkit-border-radius: 0px;
                border-radius: 0px;
                font-family: Courier New, monospace;
                -moz-box-shadow: #135352 2px 2px 10px;
                -webkit-box-shadow: #135352 2px 2px 10px;
                box-shadow: #135352 2px 2px 10px;
            }
            header a{
                color: #f9b000;
                text-decoration: none;
                font-size: 16px;
            }
            header li{
                float: left;
                display: inline;
                padding: 0 20px 0 20px;
            }
            header #branding {
                 float: left;
            }
            header #branding h1{
                margin: 0;
            }
            header nav{
                float: right;
                margin-top: 10px;
            }
            header .highlight, header .current{
                color: #32a0c2;
                font-weight: bold;
            }
            header a:hover{
                color: #cccccc;
                font-weight: bold;
            }
            #et-info {
            float: left;
            position: relative;
        }
            #et-info-phone {
            margin-right: 13px;
        }
                
            #showcase h1{
                margin-top: 100px;
                font-size: 55px;
                font-family: Courier New, monospace;
                margin-bottom: 10px;
            }
            #showcase p{
                font-size: 20px;
                font-family: Courier New, monospace;
            }
            #newsletter{
                padding: 15px;
                color: #ffffff;
                background: #353637;
            }
            #newsletter h1{
                float: left;
            }
            #newsletter form{
                float: right;
                margin-top: -45px;
            }
            #newsletter input[type="email"]{
                padding: 4px;
                height: 25px;
                width: 250px;
            }
            .button_1{
                height: 38px;
                background: #cccccc;
                border: 0;
                padding-left:20px;
                padding-right: 20px;
                color: #353637; 
            }

ul.blocks li {
	width:25%;
	height:25%;
	float:left;
	display:table;
}
ul.blocks li b, ul.blocks li span {
	display:table-cell;
	width:100%;
	height:100%;
	vertical-align:middle;
	text-align:center;
	font-size:1.2em;
}
ul.blocks li b { font-size:20px }
ul.blocks li span { display:none; }
ul.blocks li:hover b { display:none }
ul.blocks li:hover span { display:table-cell }
            #boxes .box{
                float: left;
                text-align: center;
                width: 30%;
                padding: 10px;
            }
.pflpg{
font-size: 1.5em;
float: left;
width:20%;
margin-top: 1em;
}
  .meets{
width: 20%;
float: right;
padding: 1em;
font-size: 1.5em;
}
.allmeetups p{
    font-size: 2em;
    padding: 0;
    margin: 0;
}
.meetup{
    float: left;
    padding: 0.5em;
    border-style: ridge;
    text-align: left;
    width: 90%;
} 

            
            
 @media(max-width:768px){
                header #branding,header nav,header nav li,#newsletter h1,#news letter form,#boxex .box{
                    float: none;
                    text-align: center;
                    width: 100%;
                }
                header{
                    padding-bottom: 20px;
                }
                #showcase h1{
                    margin-top: 40px;
                }
                #newsletter button{
                    display: block;
                    width: 100%;
                }
                #newsletter form input[type="email"]{
                    width: 100%;
                    margin-bottom: 5px;
                }
            }
